/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.container {
	max-width: var(--container-width);
	width: 100%;
	margin-inline: auto;
}

.page-layout {
	min-width: 320px;
	min-height: 100dvh;
	font-family: var(--font-main);
	font-variation-settings: 'wght' 400;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.main-header {
	font-family: var(--font-title);
	background-color: var(--bg-color);
	text-transform: uppercase;
	text-align: center;
	padding: clamp(7.5rem, 7.32rem + 0.75vw, 8rem) 0;
	border: 2px solid var(--border-color);
	margin-block: 100px;
}

.header-logo {
	font-size: var(--title-size);
}

.header-title {
	margin-block-start: 20px;
	font-size: clamp(0.875rem, 0.68rem + 0.85vw, 1.44rem);
	font-variation-settings: 'wght' 700;
}

.main__card {
	border: none;
	background-color: var(--bg-color);
}

.main__card:not(:first-child) {
	margin-block-start: 50px;
}

.card__title {
	display: block;
	padding: 5px 10px;
	background-color: var(--bg-color);
	border: 2px solid var(--border-color);
	font-weight: 700;
	font-size: 18px;
	font-family: var(--font-main);
	font-variation-settings: 'wght' 700;
	text-wrap: balance;
	margin: 0;
}

.card__image {
	position: relative;
	display: flex;
	border: none;
}

.card__image-label {
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0.5;
	max-width: 320px;
	text-align: end;
	line-height: 1.25;
	font-family: var(--font-title);
	font-size: 14px;
	color: var(--text-color);
	-webkit-text-stroke: 1px #fff;
	text-stroke: 1px #fff;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
	.card__image-label {
		text-shadow: none;
		-webkit-text-stroke: 1px #fff;
		text-stroke: 1px #fff;
	}
}

.card__image-item {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.main__card:nth-child(1) .card__image-item { filter: none; }
.main__card:nth-child(2) .card__image-item { filter: sepia(1); }
.main__card:nth-child(3) .card__image-item { filter: blur(3px); }
.main__card:nth-child(4) .card__image-item { filter: invert(1); }
.main__card:nth-child(5) .card__image-item { filter: grayscale(1); }
.main__card:nth-child(6) .card__image-item { filter: brightness(4); }
.main__card:nth-child(7) .card__image-item { filter: hue-rotate(300deg); }
.main__card:nth-child(8) .card__image-item { filter: brightness(2) contrast(5); }

.card__content {
	border: 2px solid var(--border-color);
	padding: 25px 25px 20px;
}

.card__text {
	font-size: 18px;
	font-variation-settings: 'wght' 400;
}

.card__text:not(:first-child) {
	margin-block-start: 27px;
}

.card__buttons {
	margin-block-start: 22px;
	display: flex;
	justify-content: end;
	gap: 4px;
}

.button {
	background-color: var(--bg-color);
	border: 2px solid var(--border-color);
	cursor: pointer;
	outline: none;
	position: relative;
	overflow: hidden;
	transition: box-shadow 0.3s ease;
	color: var(--text-color);
	font-family: var(--font-title);
}

.button span,
.button svg {
	color: var(--text-color);
}

.button::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--text-color);
	z-index: -1;
	translate: -100%;
	transition: translate 0.5s ease-in-out;
}

.button:focus {
	box-shadow: 2px 2px var(--text-color);
}

.button:hover::before {
	translate: 0;
}

.like-icon .contour {
	fill: var(--heart-contour);
	transition: fill 0.3s;
}

.like-icon .core,
.like-icon .main-body {
	fill: none;
	transition: fill 0.3s;
}

.like-icon .sparks {
	fill: var(--heart-sparks);
	opacity: 0;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
	fill: var(--heart-contour);
}

.like-icon:active .core,
.like-icon:active .main-body {
	fill: var(--heart-sparks);
}

.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
	fill: var(--heart-sparks);
}

.like-icon.is-liked .sparks {
	opacity: 1;
}

.like-icon.is-liked .heart {
	animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
	animation: sparks 0.3s 0.3s ease-in;
}

.card__icon-button {
	background: transparent;
	border: 2px solid transparent;
	padding: 0;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__icon-button:focus-visible {
	border-color: var(--text-color);
}

.card__like-button {
	padding: 11px 35px;
	font-size: 14px;
	line-height: 0.9;
}

.main__save-button {
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 50px auto 100px;
	padding: 15px 20px;
}

.main__save-button svg {
	width: 21px;
	height: 21px;
}

.dialog {
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 30px;
	width: 357px;
	border: 2px solid var(--border-color);
}

.dialog::backdrop {
	background-color: var(--backdrop-color);
}

.dialog__content {
	display: flex;
	align-items: center;
	gap: 20px;
}

.dialog__icon {
	width: 39px;
	height: 39px;
	flex-shrink: 0;
}

.dialog__text {
	text-transform: uppercase;
	font-family: var(--font-title);
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
}

.dialog__ok-button {
	width: 100%;
	margin-top: 30px;
	padding-block: 10.5px;
}

@media (max-width: 375px) {
	.main__save-button {
		flex-direction: column;
	}
}
